.elixirs{
  border-color: rebeccapurple;
  border-style: solid;
  width: 400px;
  border-width: 20px;
  margin-left: 33%;
  margin-right: 33%;

  text-align: center;

  background-image: url(images/cocktail.gif);
  background-repeat: repeat-x;
}